$main-color: #0098a0;
$fond-color:#2d0a3e;
$utility-color: #4a1469;
$substrate-color: #cacaca;
$main-shadow:-3px 3px 12px rgba(0, 0, 0, 0.206);
$minor-shadow:-2px 1px 4px rgb(181, 181, 181);
$fond-shadow:-2px 1px 4px rgba(0, 0, 0, 0.7);
