.animate{
    &__logo{
        padding: 10px;
        transition: all 0.3s;
        position: relative;
        transform: scale(1.7);
        transition: all 7s;
        margin-bottom: 20px;
        img{
            height: 35px;
        }
        &:hover{
            transform: scale(1.5);
        }
    }
    &__circle{
        animation: infinite normal fly;
    }
    &__circle1{
        position: absolute;
        left: 28px;
        bottom: 22px;
        animation-duration: 3s;
        img{
            height: 5px;
        }
    }
    &__circle2{
        position: absolute;
        left: 23px;
        bottom: 20px;
        animation-duration: 5s;
        img{
            height: 3px;
        }
    }
    &__circle3{
        position: absolute;
        left: 23px;
        bottom: 33px;
        animation-duration: 2s;
        img{
            height: 4px;
        }
    }
    &__circle4{
        position: absolute;
        left: 29px;
        bottom: 36px;
        animation-duration: 3s;
        img{
            height: 3px;
        }
    }
    &__circle5{
        position: absolute;
        left: 29px;
        bottom: 20px;
        animation-duration: 2.5s;
        opacity: 0;
        img{
            height: 3px;
        }
    }
    &__circle6{
        position: absolute;
        left: 28px;
        bottom: 37px;
        animation-duration: 2.5s;
        opacity: 0;
        img{
            height: 2px;
        }
    }
}

@keyframes fly {
    from {transform: translateY(3px);
        opacity: 100%;}
    60%{opacity: 100%;}
    to {transform: translateY(-5px);
        opacity: 4%;}
}