@import '../base/variables.scss';

.btn{
    height: 35px;
    color:white ;
    background-color: $utility-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    padding: 3px 7px;
    transition: all 0.4s;
    &_white{
        color: $utility-color;
        background-color: white;
        border: 1px solid $utility-color
    }
    &_bar{
        color: $main-color;
        background-color: white;
        border: 1px solid $main-color;
        font-size: 14px;
    }
    &_active{
        background-color: $main-color;
        color: white;
    }
    &:hover{
        box-shadow: $minor-shadow;
    }
}