@import '../../sass/base/variables.scss';

.close{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 20px;
    cursor: pointer;
    z-index: 5;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    &_big{
        height: 23px;
        width: 23px;
        font-size: 26px;
        top: 99px;
        right: 34px;
    }
    &:before{
        content: '×';
        line-height: 0px;
    }
    &:hover{
        border: 1px solid gray;
        border-radius: 5px;
    }
}