@import '../base/variables.scss';
@import '../base/title.scss';

.desc{
    width: 45%;
    background-color: white;
    border-radius: 15px;
    box-shadow: $main-shadow;
    position: relative;
    padding: 20px 5px 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__return{
        width: 45%;
        background-color: white;
        border-radius: 15px;
        box-shadow: $main-shadow;
        padding: 30px;
        font-size: 13px;
        text-align: center;
    }
    &__load{
        padding: 30px;
        font-size: 13px;
        text-align: center;
    }
    &__action-wrap{
        position: absolute;
        right: 0;
        display: flex;
        justify-content: flex-end;
        margin-right: 4px;
        margin-bottom: 5px;
        margin-top: -14px;
    }
    &__item-action{
        height: 22px;
        background-color: transparent;
        padding: 3px;
        color: $utility-color;
        border: 1px solid transparent;
        border-radius: 5px;
        transition: all 0.3s;
        font-size: 10px;
        margin-right: 8px;
        cursor: pointer;
        &:hover{
            border: 1px solid $utility-color;
        }
        &_main{
            color: black;
            border: 1px solid gray;
            margin-left: 8px;
            &:hover{
                background-color: #f3f3f3;
                border: 1px solid transparent;
                box-shadow: $minor-shadow;
            }
        }
    }
    &__top{
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 15px;
        margin-bottom: 13px;
        position: relative;
    }
    &__heading{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
    &__title{
        font-size: 10px;
        color: gray;
    }
    &__name{
        font-size: 13px;
        font-weight: 700;
        color: $utility-color;
    }
    &__status{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
    &__rs{
        font-size: 10px;
        color: $utility-color;
        font-weight: 700;
        cursor: default;
        margin-bottom: 3px;
        margin-top: 4px;
    }
    &__favorite{
        cursor: pointer;
        height: 21px;
    }
    &__favorite-text{
        position: absolute;
        font-size: 11px;
        right: 45px;
        top: 20px;
    }
    &__flow-wrap{
        padding-right: 15px;
    }
    &__overflow{
        height: calc(100% - 300px);
        min-height: 90px;
    }
    &__overflow-wrap{
        margin-right: 15px;
    }
}


.grid{
    display: grid;
    grid-template: 80px 135px 80px/ minmax(95px, 1fr) minmax(80px, 1fr)  minmax(150px, 3fr) minmax(82px, 1fr) minmax(20px, 1fr);
    gap:10px 15px;
    justify-content: space-between;
    grid-template-areas:
        "a b c d e"
        "f f g g e"
        "h h h h h";
    &__box{
        border: 1px solid $main-color;
        border-radius: 5px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    &__heading{
        font-size: 7px;
        font-weight: 700;
        color: gray;
        position: absolute;
        top: 6px;
        &_white{
            color: white;
        }
    }
    &__value{
        width: 100%;
        text-align: center;
        font-size: 12px;
        line-height: 15px;
        position: relative;
        &_row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
        }
    }
    &__descr{
        width: 100%;
        position: absolute;
        font-size: 7px;
        font-weight: 700;
        text-align: center;
        bottom: 4px;
    }
    &__quantity{
        width: 100%;
        font-size: 21px;
        text-align: left;
        font-weight: 700;
        margin-bottom: 10px;
        color: white;
    }
    &__jar{
        position: absolute;
        right: 15px;
        height: 52px;
    }
    &__jar-scale{
        height: 56%;
        width: 50px;
        background-color: rgb(47, 239, 159);
        position: absolute;
        bottom: -23px;
        right: 5px;
        border-radius: 10px;
    }
    &__img{
        height: 80px;
    }
    &__btn{
        position: absolute;
        bottom: 9px;
        padding: 8px;
        color: $utility-color;
        background-color: white;
        height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        &:hover{
            box-shadow: $minor-shadow;
            transition: all 0.4s;
        }
    }
    &__doc{
        font-size: 17px;
        text-align: left;
        color: white;
        text-decoration: underline;
        margin: 10px 0;
        cursor: pointer;
    }
    &__barcode{
        padding: 5px;
        position: absolute;
        right: 10px;
        top: 35px;
        height: 70px;
        width: 40px;
        background-color: white;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover{
            box-shadow: $minor-shadow;
            transition: all 0.4s;
        }
    }
    &__history{
        font-size: 10px;
        color: white;
    }
    &__icon{
        height: 13px;
        width: 13px;
        position: absolute;
        right: 3px;
        top: 5px;
    }
}
.item-a{
    grid-area: a;
}
.item-b{
    grid-area: b;
}
.item-c{
    grid-area: c;
}
.item-d{
    grid-area: d;
}
.item-e{
    grid-area: e;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    img{
        height: 35px;
        margin: 1px 0;
    }
}
.item-f{
    grid-area: f;
    background-color: $main-color;
    border: none;
}
.item-g{
    grid-area: g;
    background-color: $utility-color;
    border: none;
}
.item-h{
    grid-area: h;
    background-color:  $utility-color;
    border: none;
}
@media (max-width: 1200px) {
    .desc{
        width: 45%;
        min-width: 0;
    }
    .grid{
        display: grid;
        grid-template: 80px 135px 40px 80px/ minmax(85px, 1fr) minmax(75px, 1fr)  minmax(140px, 3fr) minmax(70px, 1fr);
        gap:9px 13px;
        grid-template-areas:
            "a b c d "
            "f f g g "
            "e e e e"
            "h h h h ";
        &__jar{
            right: 10px;
        }
        &__icon{
            height: 13px;
            width: 13px;
            position: absolute;
            right: 3px;
            top: 5px;
        }
    }
    .item-e{
        flex-direction: row;
        img{
            margin:0 1px ;
        }
    }
}
@media (max-width: 991px) {}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
}