@import '../base/variables.scss';

.filter{
    width: calc(100% - 30px);
    border-radius: 15px;
    border: 2px solid $main-color;
    padding: 30px 15px 12px 15px;
    margin: 0 auto;

    &__inputs{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: relative;
    }
    &__wrap{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-bottom: 20px;
        margin-right: 14px;
    }
    &__inner{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-bottom: 20px;
        margin-right: 30px;
    }

    &__item{
        padding: 7px;
        background-color: $substrate-color;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        border:1px solid transparent;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        &:hover{
            border:1px solid black;
        }
        &_active{
            background-color: $main-color;
            color: white;
            &:hover{
                border:1px solid transparent;
            }
        }
    }
    &__print{
        position: absolute;
        bottom: 10px;
        right: 15px;
        font-size: 12px;
        border: 1px solid black;
        border-radius: 7px;
        width: 111px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.5s;
        &:hover{
            font-size: 0;
            background-color: $utility-color;
            border: 1px solid transparent;
            &:before{
                content: url(../../../public/icons/printer_white.svg) ;
            }
        }
    }

    &__label{
        position: absolute;
        font-size: 9px;
        top: -14px;
        left: 0px;
    }
    
    &__btn{
        background-color: $main-color;
        width: 21px;
        height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    &__condition{
        display: flex;
    }
    &__condition{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__row{
        position: relative;
        margin-right: 20px;
        margin-top: 20px;
        width: 130px;
    }
    &__parameter{
        position: absolute;
        font-size: 9px;
        top: -14px;
        left: 0px;
    }

}