@import '../base/variables.scss';

.filter{
    width: calc(100% - 30px);
    border-radius: 15px;
    border: 2px solid $main-color;
    padding: 30px 22px 12px 22px;
    margin: 0 auto;

    &__inputs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
    }
    &__wrap{
        display: flex;
        position: relative;
        margin-bottom: 31px;
    }

    &__label{
        position: absolute;
        font-size: 9px;
        top: -14px;
        left: 0px;
    }
    
    &__btn{
        background-color: $main-color;
        width: 21px;
        height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    &__condition{
        display: flex;
    }
    &__condition{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__row{
        position: relative;
        margin-right: 20px;
        width: 130px;
    }
    &__parameter{
        position: absolute;
        font-size: 9px;
        top: -14px;
        left: 0px;
    }

}