@import '../base/variables.scss';
@import '../base/title.scss';

.info{
    width: 49%;
    position: relative;
    margin-right: 13px;
    background-color: white;
    border-radius: 15px;
    box-shadow: $main-shadow;
    padding: 10px 0 15px 0;
    display: flex;
    flex-direction: column;
    &__count{
        position: absolute;
        bottom: 3px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 7px;
    }
}

@media (max-width: 1200px) {
}
@media (max-width: 991px) {}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
}