
@import '../../sass/base/variables.scss';

.overlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(black, $alpha: 0.6);
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    &__window{
        padding: 50px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        position: relative;
        z-index: 8;
    }
    &__heading{
        font-size: 11px;
        margin-bottom: 15px;
    }

    &__btn{
        margin-top: 15px;
        width: 150px;
        height: 40px;
        img{
            margin-right: 8px;
        }
    }
}
