@import '../../sass/base/variables.scss';

.print{
    height: 23px;
    width: 23px;
    position: absolute;
    top: 105px;
    right: 5px;
    cursor: pointer;
    z-index: 5;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    &:before{
        content: url(./../../../public/icons/printer.svg);
        line-height: 0px;
    }
    &:hover{
        box-shadow: $minor-shadow;
    }
}