@import '../base/variables.scss';
@import '../base/title.scss';

.table{
    position: relative;
    &__line{
        width: 96%;
        height: 1px;
        background-color: $main-color;
        margin: 0 auto;
        position: sticky;
        top: 50px;
        z-index: 6;
    }
    &__load{
        width: 100%;
        text-align: center;
        margin-top: 63px;
        font-size: 13px;
    }
    &__shadow{
        box-shadow: 0px 0.5px 0px $main-color;
    }
    &__wrap{
        width: 100%;
        font-size: 9px;
        border-collapse: collapse;
        thead{
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 2;
            padding: 8px;
            background-color: white;

            th{
                max-width: 200px;
                height: 50px;
                padding: 8px;
                text-align: left;
                &:first-child{
                    padding-left: 23px;
                }
            }
        }
        tbody{
            height: 100%;
            td{
                max-width: 200px;              
                padding: 6px;
                height: 40px;
                &:first-child{
                    padding-left: 23px;
                }
            }
            tr{
                &:nth-of-type(even) {
                    background-color: #f3f3f3;
                }
            }

        }
        &_low{
            thead{
                th{
                    height: 27px;
                }
            }
        }
    }
    &__name{
        font-size: 11px;
        line-height: 19px;
        color: $utility-color;
        font-weight: 700;
        text-decoration: underline;
        cursor: pointer;
    }
    &__star{
        position: absolute;
        left: -6px;
        top: 8px;
    }
    &__producer{
        font-size: 8px;
    }
    &__row{
        margin: -10px;
        position: relative;
        z-index: 1;
        &_active{
            color: white;
            &::after{
                content: '';
                height: 90%;
                width: 97%;
                position: absolute;
                left: 10px;
                top: 2px;
                border-radius: 10px;
                background-color: $main-color;
                color: white;
                z-index: -2;
            }
        }
    }
    &__item{
        position: relative;
    }
}