@import '../../../../../src/sass/base/title.scss';
@import '../../../../../src/sass/base/variables.scss';

.add{
    width: calc(100% - 150px);
    background-color: white;
    border-radius: 15px;
    box-shadow: $main-shadow;
    padding: 20px;
    &__overflow{
        height: 94%;
        &::-webkit-scrollbar-track {
            margin-top: 20px;
        }
    }

    &__top{
        position: relative;
        display: flex;
        margin-bottom: 5px;
        align-items: center;
    }

    &__heading{
        width: 150px;
        text-align: right;
        margin-right: 10px;
        font-size: 15px;
        font-weight: 700;
        &_input{
            width: 250px;
            height: 40px;
            font-size: 15px;
            font-weight: 700;
            border-radius: 6px;
        }
    }
    &__wrap{
        display: flex;
        flex-wrap: wrap;
    }
    &__inner{
        margin-bottom: 20px;
    }
    &__confirm{
        width: 20px;
        text-align: center;
        position: absolute;
        right: -25px;
        &_yes{
            color: rgb(46, 223, 46);
        }
        &_no{
            color: rgb(209, 73, 73);
            font-size: 700;
            font-size: 20px;
            &:before{
                content: '';
                position: absolute;
                right: 1px;
                top: 3px;
                width: 15px;
                height: 15px;
                border-radius: 100px;
                border: 2px solid rgb(209, 73, 73);
            }
        }
    }
    &__destination{
        position: relative;
        display: flex;
        margin-top: 20px;
        align-items: center;
        &-mini{
            width: 250px;
            display: flex;
            justify-content: space-between;
            margin-top: 0;
        }
        &_mt8{
            margin-top: 6px;
        }
        &_top{
            align-items: flex-start;
        }
    }
    &__label{
        width: 150px;
        text-align: right;
        font-size: 11px;
        margin-right: 10px;
        color: rgb(62, 62, 62);
    }
    &__input{
        width: 250px;
        height: 30px;
        font-size: 13px;
        &_warn{
            border: 1px solid rgb(209, 73, 73);
            &:focus{
                border: 1px solid $main-color;
            }
        }
        &-mini{
            width: 118px;
        }
        &:-webkit-datetime-edit{
            display: none;
        }
        &-doc{
            width: 170px;
        }
        &-passport{
            width: 100px;
        }
        &_low{
            height: 24px;
        }
    }
    &__choice{
        width: 250px;
        height: 270px;
        font-size: 10px;
        border-radius: 5px;
        border: 1px solid $main-color;
        box-shadow: inset 0px 0px 4px rgb(166, 166, 166);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: white;
        &_mini{
            height: 176px;
        }
    }
    &__choice-heading{
        padding: 5px 10px;
        width: 100%;
        font-size: 9px;
        font-weight: 700;
        &_mini{
            padding-bottom: 0;
        }
    }
    &__pict{
        width: 73px;
        height: 76px;
        margin: 3px;
        padding: 3px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
        font-size: 8px;
        line-height: 8px;
        text-align: center;
        border: transparent;

        img{
            height: 49px;
            margin-bottom: 3px;
        }
        &_mini{
            height: 52px;
            img{
                height: 27px;
            }
        }        
        &:hover{
            border: 1px solid rgb(185, 185, 185);
        }
    }
    &__document{
        width: 250px;
    }
    &__document_window{
        display: flex;
        width: 250px;
        font-size: 12px;
        position: relative;
        margin-bottom: 7px;
    }
    &__document-title{
        width: 80px;
        font-size: 10px;
    }
    &__document-checkbox{
        width: 70px;
    }
    &__document-result{
        width: 100px;
    }
    &__document_form{
        width: 100px;
        height: 39px;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: $main-color;
        color: white;
        box-shadow: inset 0px 0px 4px rgb(166, 166, 166);
        font-size: 9px;
        text-align: center;
        box-shadow: $minor-shadow;
        transition: all 0.4s;
        cursor: pointer;
        input{
            display: none;
        }
        &:hover{
            background-color: rgb(85, 85, 85);
        }
    }
    &__document_success{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 65px;
        height: 40px;
        background-color: white;
        box-shadow: $minor-shadow;
        border: 1px solid rgb(185, 185, 185);
        text-align: center;
        color: black;
        cursor: default;
        padding-top: 0;
        &:hover{
            background-color: rgb(255, 255, 255);
        }
    }
    &__file{
        width: 100%;
        width: 100%;
        margin: 0;
        word-break: break-all;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &__document_cancel{
        position: absolute;
        right: -8px;
        top: -7px;
        width: 14px;
        height: 14px;
        border-radius: 3px;
        background-color: $utility-color;
        color: white;
        cursor: pointer;
        transition: all 0.4s;
        &:hover{
            background-color: black;
        }
    }
    &__btn-wrap{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 15px;
    }
    &__btn{
        width: 105px;
        margin-left: 20px;
    }
}

@media (max-width: 1200px) {
}
@media (max-width: 991px) {}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
}