@import '../../../../src/sass/base/variables.scss';

.report{
    width: calc(100% - 150px);
    background-color: white;
    border-radius: 15px;
    box-shadow: $main-shadow;
    padding: 30px;
    &__heading{
        font-size: 14px;
        font-weight: 700;
        padding: 5px;
        margin-left: 12px;
    }
}