// @import '../../../../../src/sass/base/title.scss';
@import '../../sass/base/variables.scss';

.auth{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img{
        width: 140px;
        margin-bottom: 20px;
    }
    &__wrapper{
        width: 280px;
        padding: 13px 23px 23px 23px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            label{
                width: 180px;
                font-size: 13px;
                margin-top: 17px;
            }
            input{
                width: 180px;
                height: 34px;
                margin-top: 4px;
                font-size: 13px;
            }
        }
    }
    &__forgot{
        font-size: 12px;
        margin-top: 12px;
        color: $utility-color;
    }
    &__btn{
        height: 37px;
        width: 120px;
        margin-top: 17px;
    }


    &__settings{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        border: 1px solid white;
        border-radius: 14px;
        padding: 10px 15px 15px 15px;
        max-width: 500px;
        &-pic{
            height: 60px;
            margin-bottom: 16px;
            animation: infinite normal 2s shake1;
            img{
                height: 100%;
    
            }
        }
        &-text{
            text-align: center;
            color: white;
            font-size: 12px;
        }
    }

}
    
@keyframes shake1 {
    from {transform: rotate(2deg) translateX(3px);}
    50%{transform: rotate(-2deg)translateX(-3px);}
    to {transform: rotate(2deg)translateX(3px);}
}