@import '../../../../src/sass/base/variables.scss';

.admin{
    width: 100%;
    height: 100%;
    &__top{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__card{
        min-height: 400px;
    }
    &__add{
        height: 77px;
        width: 124px;
        background-color: $main-color;
        color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 11px;
        font-weight: 700;
        margin-top: -15px;
        margin-right: 13px;
        margin-bottom: 15px;
        text-align: center;
        cursor: pointer;
        transition: all 0.4s;
        &:hover{
            transform: scale(1.07);
        }
    }
}

.list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 88%;
}

.options{
    &__title{
        font-size: 12px;
        margin-left: 7px;
        margin-top: 20px;
    }
    &__list{
        max-height: 140px;
        margin-top: 10px;
        padding: 7px;
        background-color: $main-color;
        border-radius: 7px;
        width: max-content;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        padding: 3px;
        color: white;
        &:hover{
            background-color: $utility-color;
        }
    }
    &__name{
        margin-right: 4px;
    }

}