@import '../../../src/sass/base/variables.scss';


.confirm{

    &__text{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 40px;
        color: $utility-color;
        width: 100%;
    }
    &__btns{
        display: flex;
        width: 80%;
        justify-content: space-around;
    }
}
